<%- include('../includes/head') %>
    <link rel="stylesheet" href="/css/product.css">
</head>

<body>
<%- include('../includes/navigation') %>
    <main>
        <h2>Products List :: Admin</h2>
    </main>
<%- include('../includes/end') %>
