<%- include('includes/head') %> 
</head>

<body>
    <%- include('includes/navigation') %>
    <h1>Page Not Found!</h1>
    <p>You wandered to path: <%= path %></p>
    <p>Go back to <a href="/" class="btn btn-dark">HOME</a></p>

    <%- include('includes/end') %>